# ==============================================================================
# Gitignore Customizado: Projeto_SOA_Atendimento
# ==============================================================================

# 1. Ambientes Virtuais (REQUISITO CRÍTICO)
# Impede que a pasta de bibliotecas do Python seja enviada
.venv/
venv/
ENV/
env/

# 2. Arquivos de Log e Monitoramento (Requisito 4.5)
# Impede que os logs gerados nos seus testes locais subam para o Git
*.log
servidor_soap.log

# 3. Caches do Python
# Arquivos compilados pelo interpretador Python 3.10 (__pycache__)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 4. Configurações de Editores e IDEs (VS Code)
.vscode/
*.code-workspace

# 5. Arquivos Temporários do Sistema Operacional
Thumbs.db
Desktop.ini
.DS_Store

# 6. Arquivos de Bancos de Dados Locais (se houver algum dump ou sqlite)
*.sqlite3
*.sql